<!DOCTYPE html>
<html ng-app="music-app">

<head>
    <title>Music APP</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS  -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Angular material css -->
    <link rel="stylesheet" href="css/angular-material.min.css">
    <!-- Device mokeup CSS -->
    <link href="css/devices.min.css" rel="stylesheet">
    <!-- Custom css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="css/custom.css" rel="stylesheet">
</head>

<body>
    <div class="mobile device">
        <div class="marvel-device htc-one">
            <div class="top-bar"></div>
            <div class="camera"></div>
            <div class="sensor"></div>
            <div class="speaker"></div>
            <div class="screen">
                <!-- Content goes here -->
                <div ng-cloak>
                    <md-content>
                        <md-tabs md-dynamic-height md-border-bottom>
                        <!-- Track TAB  -->
                            <md-tab label="Tracks">
                                <md-content class="md-padding">
                                    <div ng-controller="trackController as track" class="container">
                                        <!-- Search Input -->
                                        <div class="search_input">
                                            <md-input-container class="md-block" flex-gt-sm>
                                                <label class="serch_lbl">Search</label>
                                                <input ng-model="track.searchKeyword">
                                                <md-button class="search_icon" ng-click="track.search()" aria-label="Search Track"><i class="fa fa-search fa-2x" aria-hidden="true"></i></md-button>
                                            </md-input-container>
                                        </div>
                                        <!-- Close Button -->
                                        <md-button
                                        ng-show="track.showClose"
                                        ng-click="track.refresh()"
                                        class="closeButton"
                                        aria-label="Close Result"
                                        >
                                            <md-icon md-svg-src="img/icons/clear-button.svg"></md-icon>
                                        </md-button>

                                        <!-- Navigation -->
                                        <nav ng-show="track.showNav">
                                            <md-button 
                                            ng-show="track.showPrev"
                                            ng-click="track.prevTrack()"
                                            class="md-fab md-mini" 
                                            aria-label="Back page" 
                                            id = "leftButton">
                                                <md-icon md-svg-src="img/icons/l.svg"></md-icon>
                                                <md-tooltip md-delay="1000" hide-xs>BACK</md-tooltip>
                                            </md-button>

                                            <md-button 
                                            ng-show="!track.showPrev"
                                            class="md-fab md-mini disabled" 
                                            aria-label="Dead End" 
                                            id = "leftButton">
                                                <md-icon md-svg-src="img/icons/l.svg"></md-icon>
                                                <md-tooltip md-delay="1000" hide-xs>END</md-tooltip>
                                            </md-button>
                                            
                                            
                                            <md-button 
                                            ng-click="track.showNewTrackForm()" 
                                            class="md-fab md-primary" 
                                            aria-label="Add track">
                                                <md-icon md-svg-src="img/icons/add-2.svg">+</md-icon>
                                                <md-tooltip md-delay="1000" hide-xs >ADD TRACK</md-tooltip>
                                            </md-button>

                                            <md-button
                                            ng-show="track.showNext"
                                            ng-click="track.nextTrack()"  
                                            class="md-fab md-mini" 
                                            aria-label="Next page" 
                                            id = "rightButton">
                                                <md-icon md-svg-src="img/icons/r.svg"></md-icon>
                                                <md-tooltip md-delay="1000" hide-xs>NEXT</md-tooltip>
                                            </md-button>
                                            <md-button
                                            ng-show="!track.showNext"
                                              
                                            class="md-fab md-mini disabled" 
                                            aria-label="Dead End" 
                                            id = "rightButton">
                                                <md-icon md-svg-src="img/icons/r.svg"></md-icon>
                                                <md-tooltip md-delay="1000" hide-xs>END</md-tooltip>
                                            </md-button>
                                        </nav>
                                        
                                        <!-- All Track List -->
                                        <div>
                                            <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch class="col-md-12" ng-repeat="t in track.trackList" ng-click="track.showEditTrackForm(t,$index)">
                                                <md-card-title>
                                                    <md-card-title-text>
                                                        <span class="md-subhead">
                                                          <div star-rating ng-model="t.rating" max="10" on-rating-select="rating.rateFunction(rating)" readonly = "true"></div>
                                                          <div><strong>Rating:</strong>  {{t.rating}}</div>
                                                        <p class="track_title">{{t.title}}</p>
                                                        <div class="genres_list">
                                                        <p class="track_genres" ng-repeat="genre in t.genres">{{genre.name}}</p>
                                                        </div>
                                                    </span>
                                                    </md-card-title-text>
                                                </md-card-title>
                                            </md-card>
                                        </div>
                                        <!-- Footer Navigation -->
                                         <nav ng-show="track.showNav" >
                                            <md-button 
                                            ng-show="track.showPrev"
                                            ng-click="track.prevTrack()"
                                            class="md-fab md-mini" 
                                            aria-label="Eat cake" 
                                            id = "leftButton">
                                                <md-icon md-svg-src="img/icons/l.svg"></md-icon>
                                                <md-tooltip md-delay="1000" hide-xs>BACK</md-tooltip>
                                            </md-button>

                                            <md-button 
                                            ng-show="!track.showPrev"
                                            class="md-fab md-mini disabled" 
                                            aria-label="Eat cake" 
                                            id = "leftButton">
                                                <md-icon md-svg-src="img/icons/l.svg"></md-icon>
                                                <md-tooltip md-delay="1000" hide-xs>END</md-tooltip>
                                            </md-button>

                                            <md-button
                                            ng-show="track.showNext"
                                            ng-click="track.nextTrack()"  
                                            class="md-fab md-mini" 
                                            aria-label="Eat cake" 
                                            id = "rightButton">
                                                <md-icon md-svg-src="img/icons/r.svg"></md-icon>
                                                <md-tooltip md-delay="1000" hide-xs>NEXT</md-tooltip>
                                            </md-button>

                                            <md-button
                                            ng-show="!track.showNext"
                                              
                                            class="md-fab md-mini disabled" 
                                            aria-label="Eat cake" 
                                            id = "rightButton">
                                                <md-icon md-svg-src="img/icons/r.svg"></md-icon>
                                                <md-tooltip md-delay="1000" hide-xs>END</md-tooltip>
                                            </md-button>
                                            
                                        </nav>
                                    </div>
                                </md-content>
                            </md-tab>

                            <!-- Genre TAB -->
                            <md-tab label="Genres">
                                <md-content class="md-padding">
                                    <div ng-controller="genreController as genre" class="container">
                                        <h1 class="md-display-2">Genre</h1>
                                        <!-- Main navigation -->
                                        <nav>
                                            <md-button 
                                            ng-show="genre.showPrev"
                                            ng-click="genre.prevGen()"
                                            class="md-fab md-mini" 
                                            aria-label="Eat cake" 
                                            id = "leftButton">
                                                <md-icon md-svg-src="img/icons/l.svg"></md-icon>
                                                <md-tooltip md-delay="1000" hide-xs>BACK</md-tooltip>
                                            </md-button>

                                            <md-button 
                                            ng-show="!genre.showPrev"
                                            class="md-fab md-mini disabled" 
                                            aria-label="Eat cake" 
                                            id = "leftButton">
                                                <md-icon md-svg-src="img/icons/l.svg"></md-icon>
                                                <md-tooltip md-delay="1000" hide-xs>END</md-tooltip>
                                            </md-button>
                                            <md-button 
                                            ng-click="genre.showNewGenreForm()" 
                                            class="md-fab md-primary" 
                                            aria-label="Use Android">
                                                <md-icon md-svg-src="img/icons/add-2.svg">+</md-icon>
                                                <md-tooltip md-delay="1000" hide-xs>ADD GENRE</md-tooltip>
                                            </md-button>

                                            <md-button
                                            ng-show="genre.showNext"
                                            ng-click="genre.nextGen()"  
                                            class="md-fab md-mini" 
                                            aria-label="Eat cake" 
                                            id = "rightButton">
                                                <md-icon md-svg-src="img/icons/r.svg"></md-icon>
                                                <md-tooltip md-delay="1000" hide-xs>NEXT</md-tooltip>
                                            </md-button>
                                            <md-button
                                            ng-show="!genre.showNext"
                                              
                                            class="md-fab md-mini disabled" 
                                            aria-label="Eat cake" 
                                            id = "rightButton">
                                                <md-icon md-svg-src="img/icons/r.svg"></md-icon>
                                                <md-tooltip md-delay="1000" hide-xs>END</md-tooltip>
                                            </md-button>
                                        </nav>
                                        <!-- ALL Genre List -->
                                        <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }} " md-theme-watch class="col-md-10 col-md-offset-1 " ng-repeat="g in genre.genreList " ng-click="genre.showEditGenreForm(g,$index)" >
                                            <md-card-title>
                                                <md-card-title-text>
                                                    <span class="md-subhead ">{{g.id}} {{g.name}}</span>
                                                </md-card-title-text>
                                            </md-card-title>
                                        </md-card>
                                    </div>
                                </md-content>
                            </md-tab>
                        </md-tabs>
                    </md-content>
                </div>
            </div>
        </div>
    </div>
</body>
<!-- Angular.js -->
<script src="js/angular.min.js "></script>
<!-- Angular ng-resource -->
<script src="js/angular-resource.min.js "></script>
<!-- Angular animation -->
<script src="js/angular-animate.min.js "></script>
<script src="js/angular-aria.min.js "></script>
<script src="js/angular-messages.min.js "></script>
<!-- Angular Material Library -->
<script src="js/angular-material.min.js "></script>
<!-- Jquery Lib -->
<script src="js/jquery2.js " integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin=" anonymous "></script>
<script src="js/jquery.min.js "></script>
<!-- Bootstrap.js -->
<script type="text/javascript " src="js/bootstrap.min.js "></script>
<!-- This one is for router -->
<script src="js/angular-route.min.js "></script>
<!-- App.js for this app -->
<script type="text/javascript " src="app.js "></script>

</html>
